.header {
  background-color: white;
  padding: 15px 0;
}

.header-wrap {
  display: flex;
}

.navigation {
  margin-right: 97px;
}

.navigation-list {
  display: flex;
}

.navigation-list__item:not(:last-child) {
  margin-right: 28px;
}

.navigation-list__item a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
}

@media (max-width: 545px) {
  .navigation {
    display: none;
  }
}
