    :root {
    --loader-item-size:20px;
    --loader-item-gap:10px;
    --animation-duration:3s;
    --animation-function: ease-in-out;
}

.loader-screen{
   background-color: #fff;
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader-screen.hidden{
    display: none;
}

.loader-item{
    width: var(--loader-item-size);
    height: var(--loader-item-size);
    border-radius: 50%;
    position: absolute;
}

.loader{
    position: relative;
    width: calc(var(--loader-item-size) * 2 + var(--loader-item-gap));
    height: calc(var(--loader-item-size) * 2 + var(--loader-item-gap));
    border: radius 50%;
   animation-name: rotate;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
}

.loader-item:nth-child(1){
    top: 0;
    left: 0;
    background-color: rgb(33, 97, 33);
    animation-name: transform-1;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--animation-function) ;

}
.loader-item:nth-child(2){
    top: 0;
    left: calc(var(--loader-item-size) + var(--loader-item-gap));
    background-color: rgb(101, 32, 101);
    animation-name: transform-2;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--animation-function) ;
}
.loader-item:nth-child(3){
    top: calc(var(--loader-item-size) + var(--loader-item-gap)) ;
    left: 0;
    background-color: rgb(182, 219, 33);
    animation-name: transform-3;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--animation-function) ;
}
.loader-item:nth-child(4){
    top: calc(var(--loader-item-size) + var(--loader-item-gap)) ;
    left: calc(var(--loader-item-size) + var(--loader-item-gap));   
    background-color: rgb(118, 28, 28);
    animation-name: transform-4;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--animation-function) ;

}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes transform-1{
    0%,
    100%{
        top: 0;
        left: 0;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
@keyframes transform-2{
    0%,
    100%{
        top: 0 ;
        left: calc(var(--loader-item-size) + var(--loader-item-gap));
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@keyframes transform-3{
    0%,
    100%{
        top: calc(var(--loader-item-size) + var(--loader-item-gap)) ;
        left: 0 ;
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@keyframes transform-4{
    0%,
    100%{
        top: calc(var(--loader-item-size) + var(--loader-item-gap)) ;
        left: calc(var(--loader-item-size) + var(--loader-item-gap));
    }
    50%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}