.options .container{
    padding: 0px 15px 60px;
}

.options{
    padding: 0 auto;
    background: #F5F5F5;

}

.options__title{
    font-weight: 400;
font-size: 36px;
line-height: 150px;
text-align: center;
}

.options__separator{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

.options__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}