.mailing .main-buttons__button{
    background: #212A2F;
    border: 2px solid #212A2F;
    border-radius: 2px;
    color: #FFFFFF;
}

.mailing{
    padding-bottom: 50px;
    width: 100%;
}

.mailing__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212a2f;
    margin-bottom: 30px;
}

.mailing__subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;   
    color: #212A2F;
    margin-bottom: 50px;
}

.input-part{
    max-width: 65%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 25px;
    display: flex;
}

.input-part input{
    border: none;
    border-bottom: 2px solid #212A2F;
    width: 80%;
    display: flex;
    padding-left: 20px;
}

.for-user{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.22);
}

.mailing__note{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #74797C;
    display: flex;
    text-align: center;
    justify-content: center;
}

.mailing__note a{
    text-decoration: none;
    margin: 0 5px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: center;
color: #74797C;
}

