/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* font-size*/
$h1-fs:64px;
$h2-fs:36px;
$h3-fs:30px;
$h4-fs:24px;
$h5-fs:21px;
$h6-fs:13px;
/* font-weight*/
$h1-fw:900;
$h2-fw:700;
$h3-fw:700;
$h4-fw:900;
$h5-fw:400;
$h6-fw:700;
/*line-height*/
$h1-lh:75px;
$h2-lh:42px;
$h3-lh:35px;
$h4-lh:28px;
$h5-lh:21px;
$h6-lh:15px;
/* Grid setup */
/* Colour palette */

$black:#000000;
$rednormal:#FF4343;
$red-hover:#E71414;
$white:#000000;
$grey:#BABBC5;
$underline:#E71414;
