.footer{
    background-color: black;
    padding: 45px 0 27px;
    height: 164px;
}

.social-links{
    display: flex;
    justify-content: center; 
    margin-bottom: 32px;
}

.images:not(:last-child) {
    margin-right: 45px;
 
}

.images img {
    width: 45px;
    height: 45px;
    vertical-align: bottom;
}


.year{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}