.cards{
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 130px;
}

.cards-intro{
    margin: 0 auto;
    margin-bottom: 120px;
}

.cards-intro__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #212a2f;
    margin-bottom: 20px;
}

.cards-intro__subtitle{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.5px;
color: #212A2F;
margin-bottom: 30px;
}

.cards .main-buttons__button{
    background: #212A2F;
    border: 2px solid #212A2F;
    border-radius: 2px;
    color: #FFFFFF;
    text-align: center; 
}


.cards .main-buttons{
     text-align: center; 
}

.large-button{
    padding: 15px 155px;
}

.medium-button{
    padding: 15px 20px;
}

.cards-intro__button .main-buttons{
text-align: center;
}

.cards-varianrts-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards-varianrts-item{
    width: 30%;
}

.cards-varianrts__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.5px;
color: #212A2F;
margin-bottom: 25px;
}

.cards-varianrts-item__image{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0px;
}

.cards-varianrts-item__picture{
    margin-bottom: 20px;
}

.cards-varianrts-item-text__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #212A2F;
    margin-bottom: 10px;
}

.cards-varianrts-item-text__subtitle{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #212A2F;
}

.cards-varianrts-item-text{
    margin:auto 15px;
}