.learn-more{
    display: flex;
    padding-top: 45px;
    padding-bottom: 120px;
}

.learn-more::before{
    background: url("../images/logs.png");
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.learn-more__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
text-align: center;
letter-spacing: 0.5px;
color: #212A2F;
margin-bottom: 20px;
}

.learn-more__subtitle{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.5px;
margin-bottom: 25px;
color: #212A2F;
}

.learn-more__button .shop-button{
    background: #212A2F;
    border: 2px solid #212A2F;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 15px 155px;
}

.learn-more__button .shop-for{
    text-align: center;
}