.banner{
    position: relative;
    background:  linear-gradient(to top, rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url('/src/images/background.jpg') no-repeat;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 0;
    background-size: cover, cover;
    
}


.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header{
    position: relative;
    border-bottom: 1px solid $grey;
    width: 100%;
    .logo{
      display: block;
      
      @media (max-width: 1024px){
        max-width: 100%;
      }
      @media (max-width: 320px){
        max-width: 100%;
      }
    }
}
.navigation{
  display: flex;
  width: 80%;
  justify-content: flex-end;
  @media (max-width:1024px){
    width: 90%;
  }
  
}


.navigation-list:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: $grey;
  content: "";
  transition: width 0.5s;
  }
  
  .navigation-list:hover:after {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  background-color: $grey;
  content: "";
  transition: width 0.5s;
  }

  .navigation-list:active:after {
    background: #E71414;
    content: "";
    transition: width 0.5s;
    }

  .navigation-list__item a ::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: $grey;
    content: "";
    transition: width 0.5s;
    }
    
    /*.navigation-list__item a :hover::after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    z-index: 6;
    bottom: -3px;
    height: 2px;
    background-color: $grey;
    content: "";
    transition: width 0.5s;
    }*/




.navigation-list{
    display: flex;
    width: calc(100% - (5% * 4));
    justify-content: space-between;
    
    &__item  a{      
      font-weight: $h3-fw;
      font-size: $h6-fs;
      line-height: $h6-lh;
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: $white;    
      @media (max-width:1024px){
        font-weight: $h3-fw;
        font-size: $fs-media1024;
        line-height: $lh-media1024;
      }
    }
}



.navigation-list__item a:active::after{
  width: calc(100% + 26px);
  transform: translateX(-13px);
  background-color: #E71414;
}

.navigation-list__item a:active{
  color: #E71414;
}

/*.navigation-list__item a::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  content: "";
  z-index: 10;
  margin-top: 34px;
  height: 3px;
  background-color: #BABBC5;
  transition: width 0.3s ease-out;
}*/



.banner-info{
    padding-top: 130px;
    padding-bottom: 120px;
    @media (max-width:320px){
      padding-top: 70px;
    padding-bottom: 50px;
    }
    &__title{
        font-weight: $h1-fw;
        font-size: $h1-fs;
        line-height: $h1-lh;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 30px;
        @media (max-width:1024px){
          font-weight: $h1-fw;
          font-size: $fs-m1024t;
          line-height: $lh-m1024t;
        }
        @media (max-width:320px){
          font-weight: $h1-fw;
          font-size: $h2-fs;
          line-height: $h2-lh;
        }
    }
    &__subtitle{
        font-weight: $h5-fw;
        font-size:$h4-fs;
        line-height: $h4-lh;
        display: flex;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:$white;
        margin-bottom: 80px;
        @media (max-width:1024px){
          font-weight: $h5-fw;
          font-size: $fs-m1024s;
          line-height: $h5-lh;
        }
        @media (max-width:320px){
          font-weight: $h5-fw;
          font-size: $fs-m320s;
          line-height: $lh-m320s;
        }
    }
    &__button{
        margin: 0 auto;
        background: $rednormal;
        font-weight: $h1-fw;
        font-size: $h4-fs;
        line-height: $h4-lh;
        display: flex;
        border: none;
        padding: 3% 6%;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        :hover{
          background: #E71414;
        }
        :active{
          background: #FF4343;
        box-shadow: 4px 4px 30px #FF4343;
        }
    }
}






.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list > li {
  overflow: hidden;
}

.navigation-list-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navigation-list-toggle {
  display: none;
}

.navigation-list-button,
.navigation-list-button::before,
.navigation-list-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.navigation-list-button::before {
  content: '';
  margin-top: -8px;
}

.navigation-list-button::after {
  content: '';
  margin-top: 8px;
}

#navigation-list-toggle:checked + .navigation-list-button-container .navigation-list-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#navigation-list-toggle:checked + .navigation-list-button-container .navigation-list-button {
  background: rgba(255, 255, 255, 0);
}

#navigation-list-toggle:checked + .navigation-list-button-container .navigation-list-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}








@media (max-width: 700px) {
  .navigation-list-button-container {
    display: flex;
  }
  .navigation-list {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #navigation-list-toggle ~ .navigation-list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #navigation-list-toggle:checked ~ .navigation-list li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navigation-list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .navigation-list > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}