.cards{
    padding-bottom: 120px;
    @media(max-width:1024px){
        padding-bottom: 50px;
    }
    @media(max-width:600px){
        padding-bottom: 20px;
    }
    .cards-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item{
        width: calc(90% / 4);
        @media (max-width:625px){
            width: calc(90% / 2);
            margin-bottom: 50px;
        }
        @media (max-width:320px){
            width: calc(100% / 1);
            margin-bottom: 50px;
        }
        &__image{
            width: 100%;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
       &__name{
        font-weight: $h2-fw;
        font-size: $h4-fs;
        line-height: $h4-lh;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: $notgrey;
        margin-bottom: 5px;
        @media (max-width:1024px){
            font-size: $fs-m1024s;
            line-height: $h5-lh;
        }
       } 
       &__profession{
        font-weight: $h5-fw;
        font-size: $fs-m1024s;
        line-height: $h5-lh;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $rednormal;
        margin-bottom: 20px;
        @media (max-width:1024px){
            font-size: $fs-m320s;
            line-height: $lh-m320s;
        }
       }
       &__description{
        font-weight: $h5-fw;
        font-size:$fs-m1024s;
        line-height:$h5-lh;
        display: flex;
        align-items: center;
        color: $lightgrey;
        margin-bottom: 40px;
        @media (max-width:1024px){
            font-size: $fs-m320s;
            line-height: $lh-m320s;
        }
       }
    }
}

    .social-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        cursor: pointer;
        a{
            border: 1px solid $soclinks;
            width: 40px;
            height: 40px;
            position: relative;
            @media (max-width:1024px){
                width: 30px;
                height: 30px;
            }
        }
        a:not(:last-child) {
            margin-right: 5px; 
        }
        img{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            
            
        }
       
    }

.cards-item:nth-child(2){
    .cards-item__profession{
     @media(max-width:837px) {
        margin-bottom: 5px; 
    }
}
}